@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);

    --radius: 0.5rem;

    /* Fullcalendar */
    --fc-page-bg-color: var(--background);
    --fc-neutral-bg-color: var(--secondary);
    --fc-border-color: var(--border);
    --fc-today-bg-color: var(--accent);
    --fc-list-event-hover-bg-color: var(--background);

    --fc-button-bg-color: var(--background);
    --fc-button-text-color: var(--secondary-foreground);
    --fc-button-hover-bg-color: var(--background);
    --fc-button-hover-border-color: var(--background);
    --fc-button-border-color: var(--background);
    --fc-button-active-bg-color: var(--background);
    --fc-button-active-border-color: var(--border);

    /* Sidebar */
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }

  .dark {
    --background: hsl(222.2 84% 4.9%);
    --foreground: hsl(210 40% 98%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0, 90.6%, 70.8%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);

    /* Fullcalendar */
    --fc-page-bg-color: var(--background);
    --fc-neutral-bg-color: var(--secondary);
    --fc-border-color: var(--border);
    --fc-today-bg-color: var(--accent);
    --fc-list-event-hover-bg-color: var(--background);

    --fc-button-bg-color: var(--background);
    --fc-button-text-color: var(--secondary-foreground);
    --fc-button-hover-bg-color: var(--background);
    --fc-button-hover-border-color: var(--background);
    --fc-button-border-color: var(--background);
    --fc-button-active-bg-color: var(--background);
    --fc-button-active-border-color: var(--border);

    /* Sidebar */
    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Full Calendar */
.fc .fc-toolbar {
  flex-wrap: wrap;
  gap: 2rem;
}
.fc-button-group {
  @apply text-sm;
}

/*chat bubble*/
.chat-start {
  place-items: start;
  grid-template-columns: auto 1fr;
}
.chat {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.chat-start .chat-bubble {
  grid-column-start: 2;
  border-end-start-radius: 0px;
}

.chat-bubble {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  max-width: 90%;
  border-radius: 1rem;
  min-height: 2.75rem;
  min-width: 2.75rem;
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.chat-start .chat-bubble:before {
  -webkit-mask-image: url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 3 3 L 3 0 C 3 1 1 3 0 3'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m 0 3 L 3 3 L 3 0 C 3 1 1 3 0 3'/%3e%3c/svg%3e");
  inset-inline-start: -0.749rem;
}

.chat-bubble:before {
  position: absolute;
  bottom: 0;
  height: 0.75rem;
  width: 0.75rem;
  background-color: inherit;
  content: "";
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
