@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* Fullcalendar */
    --fc-page-bg-color: hsl(var(--background));
    --fc-neutral-bg-color: hsl(var(--secondary));
    --fc-border-color: hsl(var(--border));
    --fc-today-bg-color: hsl(var(--accent));
    --fc-list-event-hover-bg-color: hsl(var(--background));

    --fc-button-bg-color: hsl(var(--background));
    --fc-button-text-color: hsl(var(--secondary-foreground));
    --fc-button-hover-bg-color: hsl(var(--background));
    --fc-button-hover-border-color: hsl(var(--background));
    --fc-button-border-color: hsl(var(--background));
    --fc-button-active-bg-color: hsl(var(--background));
    --fc-button-active-border-color: hsl(var(--border));
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    /* Fullcalendar */
    --fc-page-bg-color: hsl(var(--background));
    --fc-neutral-bg-color: hsl(var(--secondary));
    --fc-border-color: hsl(var(--border));
    --fc-today-bg-color: hsl(var(--accent));
    --fc-list-event-hover-bg-color: hsl(var(--background));

    --fc-button-bg-color: hsl(var(--background));
    --fc-button-text-color: hsl(var(--secondary-foreground));
    --fc-button-hover-bg-color: hsl(var(--background));
    --fc-button-hover-border-color: hsl(var(--background));
    --fc-button-border-color: hsl(var(--background));
    --fc-button-active-bg-color: hsl(var(--background));
    --fc-button-active-border-color: hsl(var(--border));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Full Calendar */
.fc .fc-toolbar {
  flex-wrap: wrap;
  gap: 2rem;
}
.fc-button-group {
  @apply text-sm;
}
